body{
    margin:0%;
}
.homeheader{
    display: grid;
    grid-template-areas:
    'homeheaderlogo homeheadertext homeheaderspace';
    background-color: #002200;
    .homeheaderlogo{
        width: 10vw;
        grid-area: homeheaderlogo;
        img{
        }
    }
    .homeheadertext{
        grid-area: homeheadertext;
        h1{
            color: #d0f0c0;
        }
    }
    .homeheaderspace{
        grid-area: homeheaderspace;
        width: 10vw;
    }
}