body{
    margin:0%;
    padding: 0%;
    overflow-x: hidden;
    ::-webkit-scrollbar {
        display: none;
    }
}
#backgroundvideo{
    z-index: 1;
    min-height: 80vh;
    width: 100%;
    position: fixed;
}
header{
    z-index: 3;
    margin: 0%;
    padding: 0%;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-areas:
    'headerlogo headertitle headerspace'
    'headernav headernav headernav';
    background-color: #002200;
    .headerlogo{
        grid-area: headerlogo;
        width: 10vw;
        align-content: center;
        justify-content: left;
        img{
            max-width: 10vw;
            max-height: 20vh;
        }
    }
    .headertext{
        grid-area: headertitle;
        width: 80vw;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-width: 80vw;
            max-height: 18vh;
            color: #d0f0c0;
            font-size: 6vh;
            font-family: "Merriweather Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 450;
        }
    }
    .headerspace{
        grid-area: headerspace;
        width: 10vw;
    }
    nav{
        grid-area: headernav;
        margin:0%;
        padding: 0%;
        height: 5vh;
        ul{
            margin: 0%;
            padding: 0%;
            height: 5vh;
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;
            background-color: #002200;
            a{
                margin: 0%;
                padding: 0%;
                text-align: center;
                display: block;
                text-decoration: none;
                color: #e9ffdb;
                width: 25vw;
                height: 5vh;
                font-size: 4vh;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
            a:hover:not(.currentpage){
                background-color: #001000;
            }
            .currentpage{
                background-color: #004500;
            }
        }
    }
}
main{
    position: relative;
    z-index: 2;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    .mainhome{
        border-left-width: 0.25vw;
        border-right-width: 0.25vw;
        border-right-color: #004500;
        border-left-color: #004500;
        border-right-style: double;
        border-left-style: double;
        width: 60vw;
        padding: 0.5vw;
        min-height: 70vh;
        background-color: #d0f0c0;
        display: grid;
        grid-template-areas:
        'mainhomeheader mainhomeheader'
        'mainhomeaboutminecraft mainhomeimmage1'
        'mainhomeaboutwebsite mainhomeimmage2';
        .mainhomeheader{
            grid-area: mainhomeheader;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
            h1{
                font-size: 2.5vw;
                margin: 0%;
                padding: 0%;
                margin-top: 1vw;
                margin-bottom: 1vw;
                color: #001000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
        }
        .mainhomeaboutminecraft{
            grid-area: mainhomeaboutminecraft;
            max-width: 30vw;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
            h2{
                font-size: 1.5vw;
                margin: 0%;
                padding: 0%;
                margin-top: 0.5vh;
                color: #001000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
            p{
                font-size: 0.8vw;
                margin: 0%;
                padding: 0%;
                color: #001000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
        }
        .mainhomeimmage1{
            grid-area: mainhomeimmage1;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
            img{
                border-style: solid;
                border-color: #004500;
                border-width: .25vw;
                max-width: 28.5vw;
                margin: 0.5vw;
                margin-bottom: 1vh;
            }
        }
        .mainhomeaboutwebsite{
            grid-area: mainhomeaboutwebsite;
            max-width: 30vw;
            h2{
                font-size: 1.5vw;
                margin: 0%;
                padding: 0%;
                margin-top: 0.5vh;
                color: #001000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
            p{
                font-size: 0.8vw;
                margin: 0%;
                padding: 0%;
                color: #001000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
        }
        .mainhomeimmage2{
            grid-area: mainhomeimmage2;
            img{
                border-style: solid;
                border-color: #004500;
                border-width: .25vw;
                max-width: 28.5vw;
                margin: 0.5vw;
                margin-bottom: 1vh;
            }
        }
    }
    .mainpvp{
        border-left-width: 0.25vw;
        border-right-width: 0.25vw;
        border-right-color: #004500;
        border-left-color: #004500;
        border-right-style: double;
        border-left-style: double;
        width: 60vw;
        padding: 0.5vw;
        min-height: 70vh;
        background-color: #d0f0c0;
        display: grid;
        grid-row-end: inherit;
        grid-template-areas:
        'mainpvpheader mainpvpheader'
        'mainpvpabout mainpvpabout'
        'mainpvpspaceingandtimeingvideo mainpvpspaceingandtimeing'
        'mainpvpshieldsandshielddisablingvideo mainpvpshieldsandshielddisabling'
        'mainpvpcooldowntrickingandattributeswappingvideo mainpvpcooldowntrickingandattributeswapping'
        'mainpvppearlselytraingandwindchargesvideo mainpvppearlselytraingandwindcharges'
        'mainpvpelsevideo mainpvpelse';
        .mainpvpheader{
            grid-area: mainpvpheader;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
            text-align: center;
            h1{
                font-size: 2.5vw;
                margin: 0%;
                padding: 0%;
                margin-top: 1vw;
                margin-bottom: 1vw;
                color: #001000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
        }
        .mainpvpabout{
            grid-area: mainpvpabout;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
            h2{
                font-size: 1.5vw;
                margin: 0%;
                padding: 0%;
                margin-top: 0.5vh;
                color: #001000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
            p{
                font-size: 0.8vw;
                margin: 0%;
                padding: 0%;
                margin-bottom: 1vh;
                color: #001000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
        }
        .mainpvpspaceingandtimeingvideo{
            grid-area: mainpvpspaceingandtimeingvideo;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
        }
        .mainpvpspaceingandtimeing{
            grid-area: mainpvpspaceingandtimeing;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
            h2{
                font-size: 1.5vw;
                margin: 0%;
                padding: 0%;
                margin-top: 0.5vh;
                color: #001000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
            p{
                font-size: 0.8vw;
                margin: 0%;
                padding: 0%;
                color: #001000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
        }
        .mainpvpshieldsandshielddisablingvideo{
            grid-area: mainpvpshieldsandshielddisablingvideo;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
        }
        .mainpvpshieldsandshielddisabling{
            grid-area: mainpvpshieldsandshielddisabling;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
            h2{
                font-size: 1.5vw;
                margin: 0%;
                padding: 0%;
                margin-top: 0.5vh;
                color: #001000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
            p{
                font-size: 0.8vw;
                margin: 0%;
                padding: 0%;
                color: #001000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
        }
        .mainpvpcooldowntrickingandattributeswappingvideo{
            grid-area: mainpvpcooldowntrickingandattributeswappingvideo;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
        }
        .mainpvpcooldowntrickingandattributeswapping{
            grid-area: mainpvpcooldowntrickingandattributeswapping;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
            h2{
                font-size: 1.5vw;
                margin: 0%;
                padding: 0%;
                margin-top: 0.5vh;
                color: #001000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
            p{
                font-size: 0.8vw;
                margin: 0%;
                padding: 0%;
                color: #001000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
        }
        .mainpvppearlselytraingandwindchargesvideo{
            grid-area: mainpvppearlselytraingandwindchargesvideo;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
        }
        .mainpvppearlselytraingandwindcharges{
            grid-area: mainpvppearlselytraingandwindcharges;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
            h2{
                font-size: 1.5vw;
                margin: 0%;
                padding: 0%;
                margin-top: 0.5vh;
                color: #001000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
            p{
                font-size: 0.8vw;
                margin: 0%;
                padding: 0%;
                color: #001000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
        }
        .mainpvpelsevideo{
            grid-area: mainpvpelsevideo;
        }
        .mainpvpelse{
            grid-area: mainpvpelse;
            h2{
                font-size: 1.5vw;
                margin: 0%;
                padding: 0%;
                margin-top: 0.5vh;
                color: #001000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
            p{
                font-size: 0.8vw;
                margin: 0%;
                padding: 0%;
                color: #001000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
        }
    }
    .maincreative{
        border-left-width: 0.25vw;
        border-right-width: 0.25vw;
        border-right-color: #004500;
        border-left-color: #004500;
        border-right-style: double;
        border-left-style: double;
        width: 60vw;
        padding: 0.5vw;
        min-height: 70vh;
        background-color: #d0f0c0;
        display: grid;
        grid-row-end: inherit;
        grid-template-areas:
        'maincreativeheader maincreativeheader'
        'maincreativeabout maincreativeabout'
        'maincreativetitle maincreativetitle'
        'maincreativestep1discription maincreativestep1'
        'maincreativestep2discription maincreativestep2'
        'maincreativestep3discription maincreativestep3'
        'maincreativestep4discription maincreativestep4'
        'maincreativestep5discription maincreativestep5'
        'maincreativesomephotos maincreativesomephotos';
        div{
            h1{
                font-size: 2.5vw;
                margin: 0%;
                padding: 0%;
                margin-top: 1vw;
                margin-bottom: 1vw;
                color: #001000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
            h2{
                font-size: 1.5vw;
                margin: 0%;
                padding: 0%;
                margin-top: 0.5vh;
                color: #001000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
            h3{
                font-size: 1.2vw;
                margin: 0%;
                padding: 0%;
                margin-top: 0.5vh;
                color: #001000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
            p{
                font-size: 0.8vw;
                margin: 0%;
                padding: 0%;
                color: #001000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
            img{
                max-width: 25vw;
                border-style: solid;
                border-color: #004500;
                border-width: .25vw;
                margin: 0.5vw;
            }
        }
        .maincreativeheader{
            grid-area: maincreativeheader;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
            text-align: center;
        }
        .maincreativeabout{
            grid-area: maincreativeabout;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
        }
        .maincreativetitle{
            grid-area: maincreativetitle;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
            text-align: center;
        }
        .maincreativestep1discription{
            grid-area: maincreativestep1discription;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
        }
        .maincreativestep1{
            grid-area: maincreativestep1;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
        }
        .maincreativestep2discription{
            grid-area: maincreativestep2discription;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
        }
        .maincreativestep2{
            grid-area: maincreativestep2;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
        }
        .maincreativestep3discription{
            grid-area: maincreativestep3discription;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
        }
        .maincreativestep3{
            grid-area: maincreativestep3;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
        }
        .maincreativestep4discription{
            grid-area: maincreativestep4discription;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
        }
        .maincreativestep4{
            grid-area: maincreativestep4;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
        }
        .maincreativestep5discription{
            grid-area: maincreativestep5discription;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
        }
        .maincreativestep5{
            grid-area: maincreativestep5;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
        }
        .maincreativesomephotos{
            grid-area: maincreativesomephotos;
            .photos{
                max-width: 48vw;
                border-style: solid;
                border-color: #004500;
                border-width: .25vw;
                margin: 0.5vw;
                background-color: #004500;
                display: grid;
                align-content: space-evenly;
                justify-content: center;
                div{
                    margin:0%;
                    padding: 0%;
                    img{
                        margin: 0%;
                        border: 0%;
                        padding: 0%;
                        width: 15vw;
                    }
                }
            }
        }
    }
    .mainpve{
        border-left-width: 0.25vw;
        border-right-width: 0.25vw;
        border-right-color: #004500;
        border-left-color: #004500;
        border-right-style: double;
        border-left-style: double;
        width: 60vw;
        padding: 0.5vw;
        min-height: 70vh;
        background-color: #d0f0c0;
        display: grid;
        grid-row-end: inherit;
        grid-template-areas:
        'mainpveheader mainpveheader'
        'mainpveabout mainpveabout'
        'mainpveday1 mainpveday1photos'
        'mainpveday2photos mainpveday2'
        'mainpveday3 mainpveday3photos'
        'mainpveelse mainpveelse';
        div{
            h1{
                font-size: 2.5vw;
                margin: 0%;
                padding: 0%;
                margin-top: 1vw;
                margin-bottom: 1vw;
                color: #001000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
            h2{
                font-size: 1.5vw;
                margin: 0%;
                padding: 0%;
                margin-top: 0.5vh;
                color: #001000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
            h3{
                font-size: 1.2vw;
                margin: 0%;
                padding: 0%;
                margin-top: 0.5vh;
                color: #001000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
            p{
                font-size: 0.8vw;
                margin: 0%;
                padding: 0%;
                color: #001000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
            .photos{
                width: 23.5vw;
                border-style: solid;
                border-color: #004500;
                border-width: .25vw;
                margin: 0.5vw;
                background-color: #004500;
                display: grid;
                align-content: space-evenly;
                justify-content: center;
                .gridlenth3{
                    margin:0%;
                    padding: 0%;
                    img{
                        margin: 0%;
                        border: 0%;
                        padding: 0%;
                        max-width: 7vw;
                    }
                }
                .gridlenth4{
                    margin:0%;
                    padding: 0%;
                    img{
                        margin: 0%;
                        border: 0%;
                        padding: 0%;
                        max-width: 5.5vw;
                    }
                }
                div{
                    margin:0%;
                    padding: 0%;
                    img{
                        margin: 0%;
                        border: 0%;
                        padding: 0%;
                        width: 7vw;
                    }
                }
        }
        .mainpveheader{
            grid-area: mainpveheader;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
            text-align: center;
        }
        .mainpveabout{
            grid-area: mainpveabout;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
        }
        .mainpveday1{
            grid-area: mainpveday1;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
        }
        .mainpveday1photos{
            grid-area: mainpveday1photos;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
            }
        }
        .mainpveday2photos{
            grid-area: mainpveday2photos;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
            }
        }
        .mainpveday2{
            grid-area: mainpveday2;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
        }
        .mainpveday3{
            grid-area: mainpveday3;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
        }
        .mainpveday3photos{
            grid-area: mainpveday3;
            border-bottom-style: solid;
            border-bottom-color: #004500;
            border-bottom-width: 0.5vh;
        }
        .mainpveelse{
            grid-area: mainpveelse;
        }
    }
}
/*I made the border my self using minecraft resources as refrence. Im just saveing the code here.
border-image-source: url(border.png);
border-image-width: 1vw;
border-image-repeat: repeat;  
border-image-slice: 28;
border-image-outset: 1vw;*/
footer{
    position: relative;
    bottom: 0;
    z-index: 2;
    margin: 0%;
    padding: 0%;
    height: 5vh;
    width: 100vw;
    background-color: #002200;
    p{
        margin: 0%;
        padding: 0%;
        color: #d0f0c0;
        font-family: "Merriweather Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 450;
        font-style: normal;
    }
}
.videothing{
    position: static;
    border-style: solid;
    border-color: #004500;
    border-width: .25vw;
    max-width: 29vw;
    margin: 0.5vw;
    .videothingest{
        position:relative;
        video{
            position: relative;
            display: block;
            max-width: 100%;
            height: calc(100%-2vw);
        }
        .videobuttons{
            width: 100%;
            z-index: 3;
            position: absolute;
            bottom: 0;
            button{
                padding: 0%;
                margin: 0%;
                position: relative;
                background: none;
                border: none;
                img{
                    width: 2vw;
                }
            }
            .fullscreanbutton{
                    position: absolute;
                    padding: 0%;
                    margin: 0%;
                    background: none;
                    border: none;
                    right: 0;
                }
        }
        .volume{
            position: absolute;
            bottom: 2.1vw;
            left: 3vw;
            z-index: 3;
            background-color: #00100055;
            width: 2vw;
            input{
                writing-mode: vertical-rl;
                appearance: slider-vertical;
                direction: rtl;
            }
        }
    }
    .timebar{
        bottom: 0;
        z-index: 3;
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        overflow: hidden;
        margin: 0%;
    }
    .timebar::-webkit-slider-runnable-track{
        -webkit-appearance: none;
        appearance: none;
        height: 2vw;
        width: 100%;
        background-color: #d0f0c0;
}
    .timebar::-webkit-slider-thumb{
        -webkit-appearance: none;
        appearance: none;
        height: 2vw;
        width: 2vw;
        background-color: #004500;
        border: 1vw solid #004500;
        box-shadow: -101.9vw 0px 0px 100vw #004500;
    }
}