body{
    margin:0%;
    padding: 0%;
    overflow-x: hidden;
    ::-webkit-scrollbar {
        display: none;
    }
}
header{
    margin: 0%;
    padding: 0%;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-areas:
    'headerlogo headertitle headerspace'
    'headernav headernav headernav';
    background-color: #002200;
    .headerlogo{
        grid-area: headerlogo;
        width: 10vw;
        align-content: center;
        justify-content: left;
        img{
            max-width: 10vw;
            max-height: 20vh;
        }
    }
    .headertext{
        grid-area: headertitle;
        width: 80vw;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-width: 80vw;
            max-height: 18vh;
            color: #d0f0c0;
            font-size: 6vh;
            font-family: "Merriweather Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 450;
        }
    }
    .headerspace{
        grid-area: headerspace;
        width: 10vw;
    }
    nav{
        grid-area: headernav;
        margin:0%;
        padding: 0%;
        height: 5vh;
        ul{
            margin: 0%;
            padding: 0%;
            height: 5vh;
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;
            background-color: #002200;
            a{
                margin: 0%;
                padding: 0%;
                text-align: center;
                display: block;
                text-decoration: none;
                color: #e9ffdb;
                width: 25vw;
                height: 5vh;
                font-size: 4vh;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
            a:hover:not(.currentpage){
                background-color: #001000;
            }
            .currentpage{
                background-color: #004500;
            }
        }
    }
}
main{
    margin: 0%;
    padding: 0%;
    background-color: #e9ffdb;
    display: flex;
    justify-content: center;
    .mainhome{
        width: 60vw;
        min-height: 70vh;
        background-color: #d0f0c0;
        display: grid;
        grid-template-areas:
        'mainhomeheader mainhomeheader'
        'mainhomeaboutminecraft mainhomeimmage1'
        'mainhomeaboutwebsite mainhomeimmage2';
        .mainhomeheader{
            grid-area: mainhomeheader;
            h1{
                font-size: 2.5vw;
                margin: 0%;
                padding: 0%;
                margin-left: 0.5vw;
                margin-top: 1vw;
                margin-bottom: 1vw;
                color: #000000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
        }
        .mainhomeaboutminecraft{
            grid-area: mainhomeaboutminecraft;
            max-width: 30vw;
            h2{
                font-size: 1.5vw;
                margin: 0%;
                padding: 0%;
                margin-left: 0.5vw;
                color: #000000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
            p{
                font-size: 0.8vw;
                margin: 0%;
                padding: 0%;
                margin-left: 0.5vw;
                color: #000000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
        }
        .mainhomeimmage1{
            grid-area: mainhomeimmage1;
            
            img{
                /*i made the border my self using minecraft resources as refrence.*/
                border-image-source: url(border.png);
                border-image-width: 1vw;
                border-image-repeat: repeat;  
                border-image-slice: 28;
                border-image-outset: 1vw;
                max-width: 20vw;
                margin: 2%;
            }
        }
        .mainhomeaboutwebsite{
            grid-area: mainhomeaboutwebsite;
            max-width: 30vw;
            h2{
                font-size: 1.5vw;
                margin: 0%;
                padding: 0%;
                margin-left: 0.5vw;
                color: #000000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
            p{
                font-size: 0.8vw;
                margin: 0%;
                padding: 0%;
                margin-left: 0.5vw;
                color: #000000;
                font-family: "Merriweather Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 450;
                font-style: normal;
            }
        }
        .mainhomeimmage2{
            grid-area: mainhomeimmage2;
            img{
                max-width: 28vw;
                margin: 2%;
            }
        }
    }
}
footer{
    margin: 0%;
    padding: 0%;
    height: 5vh;
    background-color: #002200;
    p{
        margin: 0%;
        padding: 0%;
        color: #d0f0c0;
        font-family: "Merriweather Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 450;
        font-style: normal;
    }
}